name: Build

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  format:
    name: Build
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - run: make
